.contentpageblock{:align => "center"}
  #payinfo-left
    = yield :left_column
  #infopage-right
    = render partial: "campaigns/chi/donation_summary", locals: { campaign: @campaign }
    = render "pledges/donor_dots"

