%h3 Customize your pledge
%p Pick a donor dot color &amp; write a message
= link_to 'Color Picker for website, easy-to-use', "http://www.menucool.com/color-picker", id: 'colorpicker'
= p.hidden_field :dot_color, class: 'color short'
= p.text_field :dot_comment, class: 'medium instructional_text', style: "margin-left:20px"
