#donordots.roundbox
  %h3 Donor dots
  %p Roll over the dots below to see comments from other donors.
  #dotbox
    .tooltip{:style => "background:#442"}
      %span.tipx
        %em> Dave D.
        Oh yeah, donor number 1 baby!
    .tooltip{:style => "background:#ea2"}
      %span.tipx
        %em> Nathan S.
        This is the text comment
    .tooltip{:style => "background:#093"}
      %span.tipx
        %em> Penny W.
        Best $20 I spent all day
    .tooltip{:style => "background:#de2"}
      %span.tipx
        %em> Chris D.
        This is my comment and it's cool
    .tooltip{:style => "background:#002"}
      %span.tipx
        %em> Benjamin P.
        This is my comment 2
    .tooltip{:style => "background:#093"}
      %span.tipx
        %em> Kellie B.
        My school rocks
    .tooltip{:style => "background:#8f3"}
      %span.tipx
        %em David W.
    .tooltip{:style => "background:#2ff"}
      %span.tipx
        %em> Guy F.
        Easy as pie
    .tooltip{:style => "background:#e6e"}
      %span.tipx
        %em> Che G.
        eatin and tweetin
    .tooltip{:style => "background:#7aa"}
      %span.tipx
        %em> Morgan F.
        This is my comment 2
    .tooltip{:style => "background:#cc2"}
      %span.tipx
        %em> Ana K.
        This is my comment and it's cool
    .tooltip{:style => "background:#a56"}
      %span.tipx
        %em> Simon D.
        This is my comment and it's cool
    .tooltip{:style => "background:#de2"}
      %span.tipx
        %em> Chris D.
        This is my comment and it's cool
    .tooltip{:style => "background:#002"}
      %span.tipx
        %em> Benjamin P.
        This is my comment 2
    .tooltip{:style => "background:#093"}
      %span.tipx
        %em> Kellie B.
        My school rocks
    .tooltip{:style => "background:#8f3"}
      %span.tipx
        %em David W.
    .tooltip{:style => "background:#2ff"}
      %span.tipx
        %em> Guy F.
        Easy as pie
    .tooltip{:style => "background:#e6e"}
      %span.tipx
        %em> Che G.
        eatin and tweetin
    .tooltip{:style => "background:#442"}
      %span.tipx
        %em> Dave D.
        Oh yeah, donor number 1 baby!
    .tooltip{:style => "background:#ea2"}
      %span.tipx
        %em> Nathan S.
        This is the text comment
    .tooltip{:style => "background:#093"}
      %span.tipx
        %em> Penny W.
        Best $20 I spent all day
    .tooltip{:style => "background:#de2"}
      %span.tipx
        %em> Chris D.
        This is my comment and it's cool
    .tooltip{:style => "background:#002"}
      %span.tipx
        %em> Benjamin P.
        This is my comment 2
    .tooltip{:style => "background:#093"}
      %span.tipx
        %em> Kellie B.
        My school rocks
    .tooltip{:style => "background:#8f3"}
      %span.tipx
        %em David W.
    .tooltip{:style => "background:#2ff"}
      %span.tipx
        %em> Guy F.
        Easy as pie
    .tooltip{:style => "background:#e6e"}
      %span.tipx
        %em> Che G.
        eatin and tweetin
    .tooltip{:style => "background:#7aa"}
      %span.tipx
        %em> Morgan F.
        This is my comment 2
    .tooltip{:style => "background:#cc2"}
      %span.tipx
        %em> Ana K.
        This is my comment and it's cool
    .tooltip{:style => "background:#a56"}
      %span.tipx
        %em> Simon D.
        This is my comment and it's cool
    .tooltip{:style => "background:#de2"}
      %span.tipx
        %em> Chris D.
        This is my comment and it's cool
    .tooltip{:style => "background:#002"}
      %span.tipx
        %em> Benjamin P.
        This is my comment 2
    .tooltip{:style => "background:#093"}
      %span.tipx
        %em> Kellie B.
        My school rocks
    .tooltip{:style => "background:#8f3"}
      %span.tipx
        %em David W.
    .tooltip{:style => "background:#2ff"}
      %span.tipx
        %em> Guy F.
        Easy as pie
    .tooltip{:style => "background:#e6e"}
      %span.tipx
        %em> Che G.
        eatin and tweetin
    .tooltip{:style => "background:#7aa"}
      %span.tipx
        %em> Morgan F.
        This is my comment 2
    .tooltip{:style => "background:#cc2"}
      %span.tipx
        %em> Ana K.
        This is my comment and it's cool
    .tooltip{:style => "background:#a56"}
      %span.tipx
        %em> Simon D.
        This is my comment and it's cool
