#donordots.roundbox
  %h3 Donor dots
  %p Roll over the dots below to see comments from other donors.
  #dotbox= render(partial: "pledges/donor_dot", collection: @campaign.pledges.includes(:donor).select(&:persisted?), as: :pledge) || "No donors yet!"
