<div id="fb-root"></div>
<script>
    function fbPopulateFields(response) {
        $('#first_name').val(response.first_name);
        $('#last_name').val(response.last_name);
        $('#email').val(response.email);
        $('#facebook_billing').slideUp('slow');
        $('#zip').focus();
    };

    function fbLoginStatus(response) {
        if (response.status === 'connected') {
            // the user is logged in and has authenticated your
            // app, and response.authResponse supplies
            // the user's ID, a valid access token, a signed
            // request, and the time the access token
            // and signed request each expire
            FB.api('/me', fbPopulateFields);
            fbWallPost();
        } else if (response.status === 'not_authorized') {
            // the user is logged in to Facebook,
            // but has not authenticated your app
            alert('not authorized');
        };
    };
    function fbWallPost() {
        var body = 'Joined a Kiindly campaign';
        FB.api('/me/feed', 'post', { message: body }, function(response) {
//          if (!response || response.error) {
//            alert('Error occured');
//          } else {
//            alert('Post ID: ' + response.id);
//          }
        });
    };
    window.fbAsyncInit = function () {
        FB.init({
            appId:'255484937866032',
            status:true,
            cookie:true,
            xfbml:true
        });
        FB.getLoginStatus(fbLoginStatus);
        FB.Event.subscribe('auth.statusChange', fbLoginStatus);
    };
    (function (d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
</script>
<div class="fb-login-button" scope="email,publish_actions">Login with Facebook</div>

