<div class="paymentcontentblock roundbox">

  <h1 class="shareheading">[Name], thank you for joining the cause!</h1>
  <h4 style="text-transform:uppercase; margin:10px 0 20px 0;">You are donor #[number] to this campaign</h4>

  <h3>Now, tell others about this great cause,<br/>
    and ask them to take the pledge too!</h3>

  <h4>Tell my friends on:</h4>

  <p class="middletext"><a href=""><img src="./images/btn-share-facebook.gif" width="132" height="40" border="0"/></a>
    <a href="https://twitter.com" onclick="return popitup('https://twitter.com/share?url=http%3A%2F%2Fwww.kiindly.com%2F')"><img src="./images/btn-share-twitter.gif" width="132" height="40" border="0"/></a>

    <a href="http://pinterest.com" onclick="return popitup('http://pinterest.com/pin/create/button/?url=www.oupledge.com&media=http%3A%2F%2Fkiindly.net%2Fsites%2Foaklandalum%2Foaklandalum-pinterest.jpg&description=Join%20the%20with%20the%20Oakland%20University%20Alum%20in%20the%20OU%20Scholarship%20Penny%20Pledge.%20Every%20person%20and%20every%20penny%20counts.%20http%3A%2F%2Fwww.oupledge.com')" count-layout="none"><img src="./images/btn-share-pinterest.gif" width="132" height="40" border="0"/></a>
  </p>

  <p><a href="http://www.kiindly.com" target="_blank">Learn more about kiindly.com &raquo;</a>
    <br/><a href="www.oualumni.com" target="_blank">Learn more about OUAA Schollarship Fund &raquo;</a>

  <noscript>
    <p>&nbsp;</p>

    <p>&nbsp;</p>
  </noscript>
  <hr class="clear"/>
</div>
