= form_tag({protocol: protocol, host: host, controller: 'pledges', action: 'new'}, { authenticity_token: false, class: 'button_to', method: :get }) do
  = hidden_field_tag 'team_id', team_id if team_id
  %input{type: 'submit', style: 'width:230px;', value: 'DONATE NOW'}
