!!!
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Hi #{@donor.first_name},

    %p
      Thank you for your generous pledge to the Alumni Scholarship Fund.
      We are grateful for your gift and the trust imparted to us in managing its use.
      Your donation makes a difference to Oakland University students who are achieving their dreams of higher education.

    %p
      You have impacted the entire community because as a result of your pledge, 
      all other penny pledges have increased by $.01 each, which adds up quickly.

    %p
      Regards,
      %br
      Oakland University Alumni Association &amp; Kiindly : Facebook | Twitter | Pinterest | Website

    %p= image_tag "http://www.kiindly.com/kiindly-secondary.png"

    %p FINAL DONATION AMOUNT AND TIMING
    %p
      Your final donation amount will be determined and charged to your 
      credit card after the end of the campaign which is May 31, 2012.
      Your penny pledge donation will be determined by multiplying the number
      of unique donors at the end of the campaign multiplied by one penny for each donor.
      If 1000 or more people donate, your donation will be remain at the $10 limit you selected.

    %p RECEIPT FOR YOUR TAX RECORDS
    %p
      Once your final donation is processed, you will receive an email from Kiindly 
      confirming your donation was processed and verification of your tax deductible donation for your records.

    %p
      For current Alumni news and activities, please visit the OUAA website at
      = link_to "www.oualumni.com", "http://www.oualumni.com"

