%h4 Tell my friends on:
%p.middletext
  %a#facebook_popup{href: "", data: { method: 'feed', link: 'http://chi.kiindly.com/?ref=FB', name: 'Healthy Initiative Chicago', picture: 'http://chi.kiindly.com/assets/chi/pinterest.jpg', caption: 'Kiindly Dollar Match', description: 'Help fight childhood obesity in Chicago schools! Join the Kiindly Dollar Match to support Healthy Initiative Chicago!'}}
    = image_tag "btn-share-facebook.gif", width: 132, height: 40, border: 0
  %a.popup_link{:href => "https://twitter.com/share?url=http%3A%2F%2Fchi.kiindly.com%2F%3Fref%3DTW&text=Help+fight+childhood+obesity+in+Chicago+schools%21+Join+the+Kiindly+Dollar+Match+to+support+Healthy+Initiative+Chicago%21"}
    = image_tag "btn-share-twitter.gif", width: 132, height: 40, border: 0
  %a.pin-it-button.popup_link{"count-layout" => "none", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fchi.kiindly.com%2F%3Fref%3DPIN&media=https%3A%2F%2Fchi.kiindly.com%2Fassets%2Fchi%2Fpinterest.jpg&description=Help%20fight%20childhood%20obesity%20in%20Chicago%20schools!%20Join%20the%20Kiindly%20Dollar%20Match%20to%20support%20Healthy%20Initiative%20Chicago!"}
    = image_tag "btn-share-pinterest.gif", width: 132, height: 40, border: 0
