%h4 Tell my friends on:
%p.middletext
  %a{:href => ""}
    = image_tag "btn-share-facebook.gif", id: 'facebook_popup', width: 132, height: 40, border: 0
  %a.popup_link{:href => "https://twitter.com/share?url=http%3A%2F%2Fchi.kiindly.com%2F%3Fref%3DTW&text=Help+fight+childhood+obesity+in+Chicago+schools%21+Join+the+Kiindly+Dollar+Match+to+support+Healthy+Initiative+Chicago%21"}
    = image_tag "btn-share-twitter.gif", width: 132, height: 40, border: 0
  %a.pin-it-button.popup_link{"count-layout" => "none", :href => "http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fchi.kiindly.com&media=http%3A%2F%2Fchi.kiindly.com%2Fassets%2Fchi%2Fpinterest.jpg"}
    = image_tag "btn-share-pinterest.gif", width: 132, height: 40, border: 0
