%input#slider2.carpe-slider.target-display5.max-1000{:name => "slider1", :style => "float: left; clear: none; margin-right:10px;", :type => "text"}/
$
%input#display5.short{:name => "capname", :tabindex => "-1", :value => "50"}/
