%input#slider2.carpe-slider.target-display5.min-20.max-1000{name: "slider1", style: "float: left; clear: none; margin-right:10px;", type: "text"}/
$
= p.text_field :cap, id: 'display5', class: 'short positive-integer', tabindex: '-1', value: '50'
