-#%input#slider2.carpe-slider.target-display5.min-20.max-1000{name: "slider1", style: "float: left; clear: none; margin-right:10px;", type: "text"}/
#display5
  #slider-knob.ui-slider-handle.orientation-horizontal
$
= p.text_field :cap, class: 'short positive-integer'
