= form_for @pledge, url: new_pledge_path, method: :get do |p|
  #goldbox{style: "height:125px;"}
    #donate{style: "height:85px;"}
      .paymentoption
        .payment-text
          %h3{style: "line-height:100%;"} This campaign ended on June 29, 2012.  Thank you for your participation!
