#holder
  = link_to "#" do
    = image_tag "oupledge/btn-seehowitworks.gif", alt: "See How The Penny Pledge Works", width: 370, height: 281
#clip
  %iframe{width: 370, height: 281, src: "https://www.youtube.com/embed/INw_r96VIBM?modestbranding=1&rel=0&autohide=1&showinfo=0", frameborder: "0", allowfullscreen: ""}
