<h1>Kiindly.com Terms &amp; Conditions</h1>
<p>Effective June 1, 2013; Version 2.0</p>

<p><strong>These Terms and Conditions govern Kiindly's relationship with you when you use the Kiindly website, www.Kiindly.com ("Site"). By using or accessing the Site, you agree to these Kiindly Terms and Conditions ("Terms").</strong</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Your Information</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>You agree that: (i) you will not use an invalid or unauthorized credit card to make a donation; (ii) all donations to are made as unrestricted gifts and may not be specified for any particular purpose; (iii) all donations are final and non-refundable; (iv) your information is accurate. Please view our Privacy Policy for more information.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Credit Card and Transaction Fees</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>Administration Fees help to cover Kiindly's costs associated with: (i) developing, maintaining and hosting the Site; (ii) providing customer service; (iii) providing a secure giving system; and (iv) all the other business expenses, such as legal fees and insurance. Our goal is to provide the world's most effective online fundraising platform. Compared to other ways of fundraising like sending direct mail or putting on charity events, Kiindly is an efficient way to raise money for charity. </p>

<P>When donations on Kiindly.com are processed through Stripe, a credit card fee of 2.9% + $.30 for each donation are deducted. Since all donations taken via a credit card through sources other than Kiindly experience a similar credit card fee, the only incremental charge to the fundraising organization is the Kiindly Administration fee. At the end of the campaign, Kiindly provides the fundraising organization with the sum of all donations net the credit card fees minus the Kiindly Administration fee of 5%. There are no additional fees regardless of the donation amount. The Administration fee is waived for the first $2,500 raised of each campaign.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Crowd Match Pledge Donations</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>When you make a pledge donation to a Kiindly match fundraiser campaign, you are agreeing to donate an amount equal to the number of campaign donors, at the expiration date and time of the campaign, multiplied by the match you select, but your final donation amount shall not exceed the donation maximum you select when submitting your donation. Should the calculated amount be greater than your donation maximum, your final donation amount shall be equal to the maximum you selected. The campaign also allows you to select the option of contributing your maximum donation amount even if the campaign does not reach enough donors to meet your maximum. In that case, your final donation shall be your maximum donation amount. Finally, the campaign may provide the option of contributing an extra dollar amount should the campaign exceed its goal and reach various stretch goals. If you select to contribute to one or more stretch goals and the campaign reaches those goals, your stretch goal contribution will be added to your final donation amount. The final donation amount will be the amount you will be charged at the culmination of the campaign. Upon making your pledge, Kiindly will send an email to the address you provided confirming your pledge selection. At the end of the campaign, your credit card will be charged for the final donation amount. All campaigns will have a campaign expiration date which is subject to change.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Ownership of the Site and Intellectual Property Rights</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>The Site is expressly owned and operated by Kiindly. Unless otherwise noted, the design and content features on the Site, including without limitation, information and other materials, illustrations, product layout and design, icons, navigational buttons, images, artwork, graphics, photography, text, data, audio sound, software, URLs, and the like, as well as the selection, assembly and arrangement thereof (collectively, the "Site Information"), are owned by Kiindly or its affiliates, if any, or are licensed by Kiindly from third party service providers. The Site, as a whole and in part, is protected by copyright, trademark, service mark, trade name, and other intellectual property and proprietary rights, and all other applicable rights are reserved. Kiindly's proprietary crowdmatch fundraiser is patent-pending.</p>

<p>Kiindly's social matching process and technology are proprietary and may not be duplicated or copied. Certain Site Information may be licensed from third parties and all such third party Site Information and all intellectual property and proprietary rights related to such third party Site Information belong to the respective third parties. You may not remove any copyright, trademark or other intellectual property or proprietary notice or legend contained on the Site or the Site Information and you must retain all copyright, trademark, service mark and other proprietary notices contained on the Site or in the original Site Information on any authorized copy you make of the Site or the Site Information. </p>

<p>You agree not to sell or modify the Site or the Site Information or reproduce, display, publicly perform, distribute, or otherwise use the Site or the Site Information in any way for any public or commercial purpose in any other manner that is likely to cause confusion among consumers, that disparages or discredits Kiindly or our licensors, that dilutes the strength of Kiindly's property or our licensor's property, or that otherwise infringes on Kiindly's or our licensor's intellectual property rights. You further agree to in no other way misuse the Site or the Site Information. We reserve any rights not expressly granted by these Terms or any applicable end-user license agreements. </p>

<p>Unless otherwise provided through any other applicable terms and conditions to which you agree, no portion of the Site or Site Information may be reprinted, republished, modified, or distributed in any form without Kiindly's express written permission. You may not, and these Terms do not give you permission to, reproduce, reverse engineer, decompile, disassemble, modify, transmit, sell, distribute, license or create derivative works with respect to the Site or any of the Site Information. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>Use of Site</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>The Site and the Site Information are provided "as is" with all faults. Your use of the Site and the Site Information is at your own risk. The Site or Site Information may contain errors or omission. The Site or Site Information may, without prior notice, change, be deleted or updated at any time. </p>

You understand that Kiindly cannot and does not guarantee or warrant that files, if any, available for downloading from the Site will be free of infection or viruses or any other computer programming routines that may damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information (collectively, "Hazards").</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Must Be Age 13 or Older to Be Eligible to Use the Site and the Services</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>To register for any Services offered on Site, you must be 13 years of age or older. If you are under the age of 13, you only may use Site with permission from your parents or guardians. Kiindly does not knowingly collect personally identifiable information from users under the age of 13. Children under 13 should not send any information about themselves to Kiindly. If a child under 13 submits information through any part of Site, and Kiindly becomes aware that the person submitting the information is a child, we will attempt to delete this information as soon as possible.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Accurate Information</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>In consideration of your use of the Site, you agree to: (a) provide accurate information as prompted on the Site; and (b) maintain and update such information to keep it accurate. If you provide any information that is inaccurate, or Kiindly has reasonable grounds to suspect that such information is inaccurate, Kiindly may suspend or terminate your use of the Services and/or the Site and/or decline to permit your continued use of the Site and/or the Services and future access to the Site. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>No Endorsement of Links to Other Web Sites such as Facebook and Twitter</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>Any links to other websites are provided as merely a convenience to you. This Site may provide links or references to other websites but Kiindly has not reviewed all of these other websites, has no responsibility for the content of such other websites and shall not be liable for any damages or injury arising from the content from these other websites. </p>

<p>You understand that, except for information, products or services clearly identified as being supplied by Kiindly, we do not operate, control or endorse any information, products or services on the Internet in any way. Kiindly does not endorse or make any representations about these other websites, or any information or other products or materials found on these other websites, or any results that may be obtained from using these other websites. If you decide to access any of these other websites linked to this Site, you do so entirely at your own risk. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>Chargeback's and Refunds</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>Occasionally, a donor may dispute a credit card charge for a donation through the Kiindly Site. If such donations are refunded to the donor and Kiindly has already has remitted payment to the fundraising organization, Kiindly will deduct the chargebacks or refunds from future payments, and if necessary, issue an invoice to the applicable fundraising organization and the applicable fundraising organization expressly agrees that it will be responsible to pay Kiindly the full amount of the refunded donation.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Indemnification</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>You agree to indemnify, defend and hold Kiindly and its affiliates, if any, officers, directors, employees and agents, harmless from and against any and all claims, demands, actions, costs, liabilities, losses and damages of any kind (including attorney's fees) resulting from (i) your use, misuse or abuse of the Site or the Site Information, or (ii) your breach of any provision of these Terms. You will cooperate as fully as reasonably required in Kiindly's defense of any claim. Kiindly reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you shall not in any event settle any matter without Kiindly's written consent.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>YOU ACKNOWLEDGE THAT YOU ARE USING THE SITE AND THE SERVICES AT YOUR OWN RISK. THE SITE, THE SITE INFORMATION AND THE SERVICES ARE PROVIDED "AS IS," AND TO THE FULL EXTENT PERMITTED BY APPLICABLE LAW, KIINDLY, ITS AFFILIATES AND SUBSIDIARIES, IF ANY, AND ITS THIRD PARTY SERVICE PROVIDERS HEREBY EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING, WITHOUT LIMITATION, ANY WARRANTIES OF ACCURACY, COMPLETENESS OR RELIABILITY, TITLE, NONINFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR ANY OTHER WARRANTY, CONDITION, GUARANTEE OR REPRESENTATION, WHETHER ORAL, IN WRITING OR IN ELECTRONIC FORM. KIINDLY, ITS AFFILIATES AND SUBSIDIARIES, IF ANY, AND ITS THIRD PARTY SERVICE PROVIDERS DO NOT REPRESENT OR WARRANT THAT ACCESS TO THE SITE, THE SITE INFORMATION OR THE SERVICES WILL BE UNINTERRUPTED OR THAT THERE WILL BE NO FAILURES, ERRORS OR OMISSIONS, OR LOSS OR SECURITY BREACH OF TRANSMITTED INFORMATION, OR THAT NO VIRUSES WILL BE TRANSMITTED THROUGH ACCESS TO OR USE OF SITE. </p>

<p>KIINDLY, ITS AFFILIATES AND ITS SUBSIDIARIES, IF ANY, AND ITS THIRD PARTY SERVICE PROVIDERS SHALL NOT BE LIABLE TO YOU OR ANY THIRD PARTIES FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF THIS AGREEMENT, THE PROVISION OF SERVICES HEREUNDER, THE SALE OR PURCHASE OF ANY PRODUCTS, MERCHANDISE AND/OR SERVICES ORDERED THROUGH SITE, YOUR ACCESS TO OR INABILITY TO ACCESS THE SITE OR ITS SERVICES OR THE SITE INFORMATION, INCLUDING FOR VIRUSES ALLEGED TO HAVE BEEN OBTAINED FROM THE SERVICES, YOUR USE OF OR RELIANCE ON THE SERVICES, THE SITE INFORMATION OR MATERIALS AVAILABLE THROUGH THIRD PARTY SITES LINKED TO SITE, REGARDLESS OF THE TYPE OF CLAIM OR THE NATURE OF THE CAUSE OF ACTION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </p>

<p>SOME STATES DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU. YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE. </p>

<p>YOU HEREBY AGREE TO RELEASE KIINDLY, ITS AFFILIATES AND SUBSIDIARIES, IF ANY, AND THIRD-PARTY SERVICE PROVIDERS, AND EACH OF THEIR RESPECTIVE DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY AND ALL CLAIMS, DEMANDS AND DAMAGES (ACTUAL AND CONSEQUENTIAL) OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, SUSPECTED AND UNSUSPECTED, DISCLOSED AND UNDISCLOSED (COLLECTIVELY, "CLAIMS"), ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THIS SITE AND ITS SERVICES OR THE SITE INFORMATION. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>Disclaimer Concerning Tax Deductible Nature Of Donations</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>Kiindly makes no representation as to whether all or any portion of your donations, including, if any, charity processing fees, (collectively, "Donations") are tax deductible. Kiindly will have no liability for any claim by any federal, state, local or any other tax authority with respect to the characterization on any applicable tax return of any Donation by you, any Kiindly user or any Charity. You should consult your tax advisor as to the amount of your Donation that is tax deductible.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>The Security of the Site</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>Kiindly maintains reasonable safeguards and personnel policies that are designed to guard the Site, our systems and our volunteers', fundraisers', donors' and fundraising organizations' information. </p>

<p>Unfortunately, no data transmission over the Internet can be guaranteed to be absolutely secure. As a result, while Kiindly strives to protect your information, it cannot ensure or warrant the security of any Content you transmit to us, and you do so at your own risk. In the event of a breach of the confidentiality or security of your personal information, Kiindly will notify you as necessary so you can take appropriate protective steps. Unless you indicate otherwise, we may notify you under such circumstances using the email address you provided to us when you registered with the Site.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Electronic Communications</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>When you visit the Site or send emails to Kiindly, you are communicating with us electronically. You consent to receive communications from Kiindly electronically. Kiindly may communicate with you by email or by posting notices on the Site. You agree that all agreements, notices, disclosures and other communications that Kiindly provides to you electronically satisfy any legal requirement that such communications be in writing. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>Jurisdiction and Governing Law</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>We make no representations that the Site Information, the Services or products offered through Site are appropriate, available or legal in any particular location. Those who choose to access the Site Information, the Services and products offered through Site do so on their own initiative and are responsible for compliance with local laws, if and to the extent local laws are applicable. You agree that these Terms, for all purposes, shall be governed and construed in accordance with the laws of the State of Michigan and any action based on or alleging a breach of these Terms must be brought in a state or federal court located in or near Detroit, Michigan, and both parties agree to submit to the exclusive personal jurisdiction and venue of such courts.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Site is for Use in the United States</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>The Site is hosted in the United States and is intended for users located in the United States. If you are a non-U.S. user of Site, by visiting the Site, using the Services and/or providing Kiindly with any User Generated Content specifically or Content generally, you agree to comply with all federal and state U.S. laws governing the Site, the Services, online conduct and acceptable Content and User Generated Content. You further agree to comply with all applicable laws regarding the transmission of data exported from the United States or the country in which you reside.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Conflict with Other Agreements</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>These Terms are in addition to, and do not nullify, any other agreement between you and Kiindly or any other applicable terms and conditions found on the Site. In the case of any direct conflict between these Terms and any other agreement between you and Kiindly, the provisions of such other agreement shall control but only to extent applicable to the conflicting provisions. You agree to comply with all rules or restrictions that are posted on the Site. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>Policy Regarding Use of Kiindly Trademarks</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>The trademarks, logos, and service marks ("Marks") displayed on the Site are registered trademarks of their respective owners, are the property of their respective owners, and/or are protected by U.S. and international trademark laws and/or common law. Their uses are restricted to programs, events, products or services that Kiindly sponsors or with which we are otherwise affiliated. Kiindly's trademarks may not be used for personal financial gain. Use of the Marks is prohibited without Kiindly's express written consent except as permitted by applicable laws. Nothing contained on the Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use the Marks without Kiindly's express written consent.</p>

<div class="cat-header">
<div class="cat-header-text"><h2>Modification of the Terms</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<p>In Kiindly's sole discretion, we may unilaterally amend or modify these Terms or any other documents referenced herein at any time by posting on the Site. The date of the most recent revision will appear at the top of this page. If Kiindly has a working e-mail contact for you and the changes to the Terms are material, Kiindly may notify you of such changes by sending you an e-mail to the address you have provided to us. Kiindly encourages you to review these Terms periodically for any updates or changes. Any amended or modified terms will be effective upon posting, at the time set forth in an e-mail notice to you or as otherwise . Continued use of the Site constitutes acceptance of any modified terms and conditions. </p>

<p>Kiindly also reserves the right to post, from time to time, additional rules of usage that apply to specific parts of the Site, which may be posted in the relevant parts of the Site, and will be identified clearly and conspicuously. For example, Kiindly may post additional rules to participate in a contest. Your continued use of the Site constitutes your agreement to comply with these additional rules. </p>

<div class="cat-header">
<div class="cat-header-text"><h2>Other Provisions</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<ul>
<li>In the event that one or more portions of these Terms shall, for any reason, be held to be unenforceable, the remaining portion will remain in full force and effect.</li>
<li>The headings used throughout these Terms are solely for convenience of reference and are not to be used as an aid in the interpretation of these Terms.</li>
<li>If Kiindly fails to enforce any parts of these Terms, it will not be considered a waiver.</li>
<li>These Terms make up the entire agreement between you and Kiindly regarding the Site and supersede any prior agreements.</li>
<li>These Terms do not confer than third party beneficiary rights.</li>
<li>You will not transfer any of your rights or responsibilities under these Terms to anyone without Kiindly's express written permission.</li>
<li>Kiindly may, at any time, assign our rights or delegate our obligations hereunder without notice to you in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</li>
<li>Nothing in these Terms shall prevent Kiindly from complying with the law.</li>
</ul>