<h1>Help topics</h1>
<p>The topics covered in this section are general in nature. They refer to the Kiindly.com donation platform and do not cover any campaign-specific questions. Please refer to the '<strong>About this campaign</strong>' section at the bottom of the campaign landing page for any specific details and terms of your campaign.</p>

<h1>Frequently asked questions</h1>

<form action="../">
<select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
    <option value="">- - Jump to Section - -</option>
    <option value="#cat1">Donations</option>
    <option value="#cat2">Security</option>
    <option value="#cat3">Fees</option>
    <option value="#cat4">About Kiindly</option>
</select>
</form>

<h3>Donations</h3>
<ul class="category">
<li><a href="#cat1-q1">How does the Kiindly Social Match work?</a></li>
<li><a href="#cat1-q2">If the campaign does not reach my donation cap, can I still donate my full amount?</a></li>
<li><a href="#cat1-q3">Is my donation tax deductible?</a></li>
<li><a href="#cat1-q4">Am I charged one dollar (or penny) at a time?</a></li>
<li><a href="#cat1-q5">When do I get charged?</a></li>
<li><a href="#cat1-q7">Can I make multiple donations to increase the amount per donor?</a></li>
</ul>

<h3>Security</h3>
<ul class="category">
<li><a href="#cat2-q1">Is my donation secure?</a></li>
</ul>

<h3>Fees</h3>
<ul class="category">
<li><a href="#cat3-q1">How much of my donation goes to this campaign?</a></li>
<li><a href="#cat3-q2">Why is there a transaction fee?</a></li>
</ul>

<h3>About Kiindly</h3>
<ul class="category">
<li><a href="#cat4-q1">What is Kiindly?</a></li>
<li><a href="#cat4-q2">How can I start a Kiindly campaign?</a></li>
<li><a href="#cat4-q3">Why should an organization use Kiindly?</a></li>
<li><a href="#cat4-q4">Are there any start up costs for a Kiindly campaign?</a></li>
</ul>

<div class="cat-header">
<div class="cat-header-text"><h2><a name="cat1"></a>Donations</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<h4><a name="cat1-q1"></a>How does the Kiindly Social Match work?</h4>
<p>The Kiindly Social Match is a giving multiplier that increases your donation, and others before you, by either a dollar or penny increment.</p>
<p>For example, when joining a dollar match campaign, you are pledging to increase your donation by one dollar for every person that donates after you.  Your final donation amount will be determined as follows: the total number of unique donors at the end of the campaign multiplied by one dollar for each donor. For example, if there are 500 donors at the end of a campaign, your donation amount will be $500. If the total number of donors exceeds your maximum pledge amount, your final donation will be the maximum pledge amount. For example, if you selected a $20 maximum and 500 people donate, your donation will remain at the $20 limit you selected.</p>

<h4><a name="cat1-q2"></a>If the campaign does not reach my donation cap, can I still donate the full amount?</h4>
<p>Yes, you can! Just make sure check the box stating "If the campaign doesn't reach my donation cap I'm willing to donate the value of my full cap amount."</p>

<h4><a name="cat1-q3"></a>Is my donation tax deductible?</h4>
<p>You should consult with your tax advisor on all contributions you make. Many organizations who use the Kiindly service are non profit organizations. We will provide you with a receipt for each donation you make that you may use for your tax records should the donation qualify as tax deductible.</p>

<h4><a name="cat1-q4"></a>Am I charged one dollar (or penny) at a time?</h4>
<p>No, we process all donations at the end of the campaign. When you first enter your credit card, we do validate the card but we don't process your final contribution until the end of the campaign.</p>

<h4><a name="cat1-q5"></a>When do I get charged?</h4>
<p>Within 7 days after the end of the campaign, we will process your credit card and send you a receipt. Once you complete your pledge, you will receive a confirmation email which contains the end date of the campaign.</p>

<h4><a name="cat1-q7"></a>Can I make multiple donations to increase the amount per donor?</h4>
<p>No. While this is a creative idea, it does not match the spirit of the social match provided by Kiindly. As a result, we only count donors as unique donors which means if you make multiple donations, you will be charged for all of your donations, but you will only be counted once in calculating the number of donors for the penny pledge calculation.</p>


<div class="cat-header">
<div class="cat-header-text"><h2><a name="cat2"></a>Security</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<h4><a name="cat2-q1"></a>Is my donation secure?</h4>
<p>All of your information is captured and processed with industry standard security measures in place as established by the credit card industry. All data that is transmitted between your browser and our servers is encrypted with the industry standard SSL secure socket layer protection. Additionally, Kiindly transactions are processed through Stripe, a PCI compliant level 1 service provider, the highest level of security credential for credit card processing. <a href="http://usa.visa.com/download/merchants/cisp-list-of-pcidss-compliant-service-providers.pdf" target="_blank">Read More on Visa.com &raquo;</a>.</p>


<div class="cat-header">
<div class="cat-header-text"><h2><a name="cat3"></a>Fees</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<h4><a name="cat3-q1"></a>How much of my donation goes to this campaign?</h4>
<p>The organization running the campaign will receive the sum of all donations minus the actual credit card fee charged by the credit card provider and minus the transaction fee charged by Kiindly. Since all donations taken via a credit card include a credit card fee, the only incremental charge for the organization is the Kiindly transaction fee. The final amount the organization receives is the sum of all donations net of the credit card fees minus $1.20 multiplied by the number of donors (Kiindly's transaction fee).</p>

<h4><a name="cat3-q2"></a>Why is there a transaction fee?</h4>
<p>Fundraising often requires organizations to spend significant amounts of money with third party experts, telemarketers, and direct mail in order to accomplish fundraising goals. A typical fundraising campaign not run through Kiindly will often cost 15-20% of the total amount raised, meaning only 80-85% of your donation will go to the organization and the organization must often take the risk of the marketing investment regardless of the success of the campaign. Through Kiindly, organizations take on zero risk in the marketing investment (there are no upfront costs) and the final cost is often significantly less than the cost of traditional means of fundraising. Our goal at Kiindly is to cover our costs and make a fair profit so that we can help many more organizations. We charge a transaction fee that we believe is fair and on par with transaction fees charged for other types of online purchases such as movies and events.</p>

<div class="cat-header">
<div class="cat-header-text"><h2><a name="cat4"></a>About Kiindly</h2></div>
<div class="cat-header-top"><a href="#top">Top</a></div>
</div>

<h4><a name="cat4-q1"></a>What is Kiindly?</h4>
<p>Kiindly is a company which powers social fundraising for organizations ranging from charities to universities to local groups, all based on Kiindly's proprietary social matching process (aka our secret sauce). Because every penny counts, we help donors participate with organizations and be empowered at the same time. </p>

<h4><a name="cat4-q2"></a>How can I start a Kiindly campaign?</h4>
<p>If you are a charity, non-profit, university, political organization, religious group, local organization, or any other organization looking to fundraise, Kiindly was set up to help you. Please contact us here in order to set up your own campaign.</p>

<h4><a name="cat4-q3"></a>Why should an organization use Kiindly?</h4>
<p>If you want to raise money by empowering your donors versus guilting them, a Kiindly fundraiser is for you.I If you want to raise money leveraging the power of social media and the insights of behavioral science, then a Kiindly fundraiser is for you. We believe that the essence of fundraising is about the donor and the donor relationship. Through years of work in behavioral science and online technology, Kiindly discovered that donors want exactly what fundraising organizations want: for every penny to count. As a result, the Kiindly Penny Pledge and our other social matching products, which are proprietary to Kiindly, work better and quicker than other fundraisers because every penny does count.</p>

<h4><a name="cat4-q4"></a>Are there any start up costs for a Kiindly campaign?</h4>
<p>There are no start up costs for a typical Kiindly campaign. Kiindly does offer custom consulting services for organizations that desire greater assistance. Kiindly will provide custom consulting to help such organizations to develop the specific creative and messaging for an organization's campaign. These services are provided on a fee basis.</p>
