.addthis_toolbox.addthis_default_style
  %a.addthis_button_facebook_like
  %a.addthis_button_facebook_send
  %a.addthis_button_tweet
  %a.addthis_button_pinterest_pinit{"pi:pinit:layout" => "horizontal", "pi:pinit:media" => "http://#{request.host}#{path_to_image("sites/ou/oaklandalum-pinterest.jpg")}"}
= javascript_include_tag 'https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4eb2fd3607617b32'
