.customScrollBox
  .container
    .content
      #tab1-content
        %p
          %strong About This Campaign
        %p
          Pledge a penny. Change a life.  It's that simple.
        %p
          The more people who take the Penny Pledge and match your donation,
          the more you help influence a future OU student’s life.
          Even OU President Dr. Gary Rossi took the Penny Pledge!
          He is matching every $1 donated with $.50 of his own, up to $100,000!
        %p
          100% of funds raised will go to support the OU Alumni Scholarship Fund.
          That’s 100% of funds raised helping someone in need of an education.
        %p
          Every person, and every penny, counts.
      #tab2-content{:style => "display:none;"}
        %p
          %strong Organization Information
        %p Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet
        %p Lorem ipsum dolor sit amet
        %p
          %strong Campaign Contact
          %br
          Joseph Saunders (Online Appeals Agent)
          %br
          Phone: 248.323.1200
          %br
          Email: info@townsquarecares.org
  .dragger_container
    .dragger
  %a.scrollUpBtn{:href => "#"}
  %a.scrollDownBtn{:href => "#"}
%noscript
  :css
    #mcs_container .customScrollBox {overflow:auto;}
    #mcs_container .dragger_container {display:none;}
%br{:style => "clear:both;"}
