#mcs_container
  .customScrollBox
    .container
      .content
        #tab1-content
          %p
            %strong About This Campaign
            %br
            Our annual winter appeal
          %p
            %b About Urban Students Empowered
            %br
            We identify and train highly effective teachers to lead underperforming students in low-income schools to enroll in and graduate from college.
          %p To fulfill this mission, US Empowered teachers - or Program Directors - lead a three-year program for US Empowered Fellows that consists of a daily, in-school course; ongoing experiential conferences; and tailored, online support during the first year of college.  All elements of the US Empowered program collectively increase student achievement and ensure that Fellows enroll in and graduate from college.
          %p Our alumni, equipped with new resources, best practices and collaborative networks of support, become college graduates and generational leaders advocating for higher education opportunities for all.
          %p
            %b Our Vision
            %br
            One day, every student in low-income America will have the opportunity to enroll in and graduate from college. We have seen what it takes to empower a student.
          %p
            %b Help us build our movement to empower a nation.
            %br
            Your donations help us to continue with this vital work. Visit our website for more information. Please help today.
        #tab2-content{:style => "display:none;"}
          %p
            %strong Organization Information
          %p Lorem ipsum dolor sit amet
          %p Lorem ipsum dolor sit amet
          %p Lorem ipsum dolor sit amet
          %p Lorem ipsum dolor sit amet
          %p Lorem ipsum dolor sit amet
          %p
            %strong Campaign Contact
            %br
            Joseph Saunders (Online Appeals Agent)
            %br
            Phone: 248.323.1200
            %br
            Email: info@townsquarecares.org
    .dragger_container
      .dragger
    %a.scrollUpBtn{:href => "#"}
    %a.scrollDownBtn{:href => "#"}
%noscript
  :css
    #mcs_container .customScrollBox {overflow:auto;}
    #mcs_container .dragger_container {display:none;}
%br{:style => "clear:both;"}
