#topblock
  .middleblock
    #status
      #campaignlogo
        %img{:height => "80", :src => "campaigns/tsc1/assets/logo.jpg", :width => "250"}/
      #progresstext
        %span#hardcount 1,285
        donors
        %br/
        have joined the cause. When you pledge, everyone increases their donation by another penny*
      #goaltext
        Goal:
        %strong 10,000 donors
        %br/
        Total Pledged:
        %strong $2,704.05
      #progresschart
        #peopleprogress{:style => "width:50%"}
      #countmein
        %button{:onclick => "window.location.href = 'payment.html'", :style => "width:230px;"} COUNT ME IN
    #video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "390", :src => "http://www.youtube-nocookie.com/embed/UwVND7EaHeY?rel=0", :width => "640"}
  .middleblock
    #leftcol
      #expires.roundbox
        %img{:align => "left", :src => "/images/calendar.gif"}>/
        This campaign ends in
        %br/
        %span#expiresdays 26 days
      #corporate_diy.roundbox
        %h3 TOP Corporate donations
        %p
          Be the first!
          %br/
          %a{:href => ""} Become a corporate donor »
        %h3 Did you know...
        %p Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Null am id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus co mmodo, tortor mauris condim entum nibh, ut fermentum massa justo sit amet risus.
        %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
    #middcol
      #social.roundbox
        %span.socialtitle Share
        %span.st_facebook_large{:displaytext => "Facebook"}
        %span.st_twitter_large{:displaytext => "Tweet"}
        %span.st_pinterest_large{:displaytext => "Pinterest"}
        %span.st_linkedin_large{:displaytext => "LinkedIn"}
        %span.st_sharethis_large{:displaytext => "ShareThis"}
      #campaigninfo.roundbox
        %p
          %strong.campaigntitle Support The Troops Penny Pledge
          %br/
          %strong TownSquare Cares
          %br/
          Campaign period: Aug 15, 2012 - Sep 15, 2012
          %br/
          Goal: 10,000 donors
        %p
          %strong About this campaign
        %p Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        %p
          %strong Where the money goes...
          %br/
          • Nullam id dolor id nibh ultricies vehicula ut id elit.
          %br/
          • Integer posuere erat a ante venenatis dapibus po.
          %br/
          • Aenean lacinia bibendum nulla sed consectetur.
        %p
          %strong Learn more
          %br/
          Contact Name
          %br/
          name@name.com
          %br/
          313.334.2344
        %div{:style => "height:1px; width:1px; padding:0; margin:0; overflow:hidden;"}
          %img{:alt => "Pinterest", :height => "600", :src => "campaigns/tsc1/assets/pinterest.jpg", :width => "350"}/
    #rghtcol
      #donordots.roundbox
        %h3 Donor dots
        %p Roll over the dots below to see comments from other donors.
        #dotbox
          .tooltip{:style => "background:#442"}
            %span.tipx
              %em> Dave D.
              Oh yeah, donor number 1 baby!
          .tooltip{:style => "background:#ea2"}
            %span.tipx
              %em> Nathan S.
              This is the text comment
          .tooltip{:style => "background:#093"}
            %span.tipx
              %em> Penny W.
              Best $20 I spent all day
          .tooltip{:style => "background:#de2"}
            %span.tipx
              %em> Chris D.
              This is my comment and it's cool
          .tooltip{:style => "background:#002"}
            %span.tipx
              %em> Benjamin P.
              This is my comment 2
          .tooltip{:style => "background:#093"}
            %span.tipx
              %em> Kellie B.
              My school rocks
          .tooltip{:style => "background:#8f3"}
            %span.tipx
              %em David W.
          .tooltip{:style => "background:#2ff"}
            %span.tipx
              %em> Guy F.
              Easy as pie
          .tooltip{:style => "background:#e6e"}
            %span.tipx
              %em> Che G.
              eatin and tweetin
          .tooltip{:style => "background:#7aa"}
            %span.tipx
              %em> Morgan F.
              This is my comment 2
          .tooltip{:style => "background:#cc2"}
            %span.tipx
              %em> Ana K.
              This is my comment and it's cool
          .tooltip{:style => "background:#a56"}
            %span.tipx
              %em> Simon D.
              This is my comment and it's cool
          .tooltip{:style => "background:#d33"}
            %span.tipx
              %em> Linda H.
              This is some text
          .tooltip{:style => "background:#f8f"}
            %span.tipx
              %em> Grant D.
              Bring them home
          .tooltip{:style => "background:#bb2"}
            %span.tipx
              %em> Kirk O.
              Your sacrifice is never forgotten
          .tooltip{:style => "background:#422"}
            %span.tipx
              %em> David W.
              Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis orn
          .tooltip{:style => "background:#aaa"}
            %span.tipx
              %em> Keiran O.
              Thanks
          .tooltip{:style => "background:#88b"}
            %span.tipx
              %em> Derek K.
              Always a pleasure to help TSC
          .tooltip{:style => "background:#32f"}
            %span.tipx
              %em> Adam F.
              Please take care
          .tooltip{:style => "background:#2ab"}
            %span.tipx
              %em Joy W.
          .tooltip{:style => "background:#f2c"}
            %span.tipx
              %em> Larry F.
              Come home safe
          .tooltip{:style => "background:#c21"}
            %span.tipx
              %em> Case D.
              Stay safe
          .tooltip{:style => "background:#14a"}
            %span.tipx
              %em> Dave W.
              Good luck guys
          .tooltip{:style => "background:#63a"}
            %span.tipx
              %em Jessica R.
          .tooltip{:style => "background:#333"}
            %span.tipx
              %em> Alison P.
              Thank you
          .tooltip{:style => "background:#eac"}
            %span.tipx
              %em> Cameron D.
              Always a marine
          .tooltip{:style => "background:#cc6"}
            %span.tipx
              %em> Joel G.
              Whaaa?
          .tooltip{:style => "background:#778"}
            %span.tipx
              %em> Allan G.
              Please help this cause
          .tooltip{:style => "background:#a63"}
            %span.tipx
              %em> Meagan D.
              Thanks for the opportunity to help
          .tooltip{:style => "background:#f2c"}
            %span.tipx
              %em> Larry F.
              Come home safe
          .tooltip{:style => "background:#c21"}
            %span.tipx
              %em> Case D.
              Stay safe
          .tooltip{:style => "background:#14a"}
            %span.tipx
              %em> Dave W.
              Good luck guys
          .tooltip{:style => "background:#63a"}
            %span.tipx
              %em Jessica R.
          .tooltip{:style => "background:#333"}
            %span.tipx
              %em> Alison P.
              Thank you
          .tooltip{:style => "background:#eac"}
            %span.tipx
              %em> Cameron D.
              Always a marine
          .tooltip{:style => "background:#cc6"}
            %span.tipx
              %em> Joel G.
              Whaaa?
          .tooltip{:style => "background:#778"}
            %span.tipx
              %em> Allan G.
              Please help this cause
          .tooltip{:style => "background:#a63"}
            %span.tipx
              %em> Meagan D.
              Thanks for the opportunity to help
          .tooltip{:style => "background:#0e0"}
            %span.tipx
              %em> Steven G.
              Great cause
          .tooltip{:style => "background:#c21"}
            %span.tipx
              %em> Ralph F.
              God speed
          .tooltip{:style => "background:#ec3"}
            %span.tipx
              %em> Billy G.
              Come home soon Dad!
          .tooltip{:style => "background:#8e1"}
            %span.tipx
              %em> Jennifer R.
              Stay safe
          .tooltip{:style => "background:#f20"}
            %span.tipx
              %em> Roy S.
              Thoughts and prayers are with you all
          .tooltip{:style => "background:#1ee"}
            %span.tipx
              %em> Richard D.
              Thanks for your contribution
          .tooltip{:style => "background:#a22"}
            %span.tipx
              %em> Rob S.
              Sending a huge shout out to the men and women who serve our country abroad.
          .tooltip{:style => "background:#d23"}
            %span.tipx
              %em> Angela D.
              Ummmmm, hello?
          .tooltip{:style => "background:#c30"}
            %span.tipx
              %em> Sean C.
              Shaken not stirred
