.progresstext
  .progress1
    Current level
    %br
    %span.x14
      %strong.donation_total= number_to_currency(@campaign.donation_total, precision: 0)
  .progress2
    Number of donors
    %br
    %strong.x14.number_of_donors= @campaign.number_of_donors
  .progress3
    Target
    %br
    %strong.donation_target.x14= number_to_currency(@campaign.donation_target, precision: 0)
.progressbar
  .progressoverlay{:style => "width:#{@campaign.percent_complete}% !important"}
    %span.stack Campaign name has raised $2,342 out of $10,000 from 432 donors.
