.widegreenbox
  .sharebox-left
    #campaignlogo
      = image_tag "sites/townsquarecares/logo.png", width: 540, height: 80
    %h1{style: "margin:20px 0 0 0; clear:both"} Thank you for your pledge!
    %h4{style: "text-transform:uppercase; margin:10px 0 20px 0;"} You are donor #158 to this campaign
    %h3
      Now, tell others about this great cause,
      %br
      and ask them to take the penny pledge too!

  .sharebox-right
    %h4 Matthew, you just made a difference...
    %p
      Your pledge of just 1 penny for each person (to a maximum of $30) will justo odio, dapibus ac facilisis in, egestas eget quam.
      Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies! vehicula ut id elit.
      Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    %ul
      %li= link_to "Tell your friends about your donation &raquo;".html_safe, ""
      %li= link_to "Learn more about kiindly.com &raquo;".html_safe, ""
      %li= link_to "Learn more about US Empowered &raquo;".html_safe, ""

.widegreenbox
  social
/ Start left block
#leftmain
  #progress
    .progresstext
      .progress1
        Current level
        %br
        %span.x14
          %strong $2,502
      .progress2
        Number of donors
        %br
        %strong.x14 432
      .progress3
        Target
        %br
        %strong.x14 $10,000
    .progressbar
      .progressoverlay{:style => "width:25% !important"}
        %span.stack Campaign name has raised $2,342 out of $10,000 from 432 donors.
  #leftmain
    #navtabs
      #tab1.navtab
        %strong
          %a{:style => "color:#fff;"} This Campaign
      #tab1x.navtab{:onclick => "document.getElementById('tab1-content').style.display = 'inline';\n    document.getElementById('tab2-content').style.display = 'none';\n    document.getElementById('tab1').style.display = 'inline';\n    document.getElementById('tab1x').style.display = 'none';\n    document.getElementById('tab2').style.display = 'inline';\n    document.getElementById('tab2x').style.display = 'none';", :style => "background-color:#737373; display:none;"}
        %strong
          %a#tab1b{:style => "color:#4fba69;"} This Campaign
      #tab2.navtab{:onclick => "document.getElementById('tab1-content').style.display = 'none';\n    document.getElementById('tab2-content').style.display = 'block';\n    document.getElementById('tab1').style.display = 'none';\n    document.getElementById('tab1x').style.display = 'inline';\n    document.getElementById('tab2').style.display = 'none';\n    document.getElementById('tab2x').style.display = 'inline';", :style => "background-color:#737373;"}
        %strong
          %a#tab2a{:style => "color:#4fba69;"} Organization
      #tab2x.navtab{:style => " display:none;"}
        %strong
          %a{:style => "color:#fff;"} Organization
    #campaigninfo
      / content block
      #mcs_container
        .customScrollBox
          .container
            .content
              #tab1-content
                %p
                  %strong About This Campaign
                  %br
                  Our annual winter appeal
                %p
                  %b About Urban Students Empowered
                  %br
                  We identify and train highly effective teachers to lead underperforming students in low-income schools to enroll in and graduate from college.
                %p To fulfill this mission, US Empowered teachers - or Program Directors - lead a three-year program for US Empowered Fellows that consists of a daily, in-school course; ongoing experiential conferences; and tailored, online support during the first year of college.  All elements of the US Empowered program collectively increase student achievement and ensure that Fellows enroll in and graduate from college.
                %p Our alumni, equipped with new resources, best practices and collaborative networks of support, become college graduates and generational leaders advocating for higher education opportunities for all.
                %p
                  %b Our Vision
                  %br
                  One day, every student in low-income America will have the opportunity to enroll in and graduate from college. We have seen what it takes to empower a student.
                %p
                  %b Help us build our movement to empower a nation.
                  %br
                  Your donations help us to continue with this vital work. Visit our website for more information. Please help today.
              #tab2-content{:style => "display:none;"}
                %p
                  %strong Organization Information
                %p Lorem ipsum dolor sit amet
                %p Lorem ipsum dolor sit amet
                %p Lorem ipsum dolor sit amet
                %p Lorem ipsum dolor sit amet
                %p Lorem ipsum dolor sit amet
                %p
                  %strong Campaign Contact
                  %br
                  Joseph Saunders (Online Appeals Agent)
                  %br
                  Phone: 248.323.1200
                  %br
                  Email: info@townsquarecares.org
          .dragger_container
            .dragger
          %a.scrollUpBtn{:href => "#"}
          %a.scrollDownBtn{:href => "#"}
      / content to pay if javascript is disabled
      %noscript
        :css
          #mcs_container .customScrollBox {overflow:auto;}
          #mcs_container .dragger_container {display:none;}
    %br{:style => "clear:both;"}
/ End left block
/ Start right block
/ End right block
/ Did you know box
#rightmain
  #diduknow
    %h3 TOP DONATIONS
    %ul
      %li Mary M. ($120)
      %li Simon E. ($50)
  / End Did you know box
  / Facepile
  #supporters
    %h3 Supporters
    .fb-facepile{"data-href" => "kiindly.com/index.php", "data-max-rows" => "2", "data-width" => "400"}
