- content_for :page_javascripts do
  = javascript_include_tag "campaigns", "jquery.tools.min"
- content_for :titlebar_nav do
  = render 'layouts/main_titlebar_nav'

#maincontentblock= render @campaign
