#lts-charities.roundbox.tabblock.hidden
  %h3 What Charities Do We Support?
  %p
    %a{:href => "http://www.aswchicago.org/"}
      %img.alignleft{:alt => "A Special Wish Chicago Charities", :height => "73", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/A-Special-Wish.png", :title => "A Special Wish Foundation", :width => "117"}/
  %div{:style => "margin-left: 160px;"}
    %h4 A Special Wish Foundation
    %p
      A non-profit charitable organization dedicated to granting the wishes of children and young adults, from birth through age 20, in the greater Chicago-land area who have been diagnosed with a life threatening condition.
      %a{:href => "http://www.aswchicago.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.accessliving.org/", :target => "_blank"}
      %img.alignleft{:alt => "Access Living Chicago Charities", :height => "42", :src => "https://www.livetosupport.com/wp-content/uploads/2012/01/access_living.png", :title => "Access Living", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Access Living
    %p
      Established in 1980, Access Living is a change agent committed to fostering an inclusive society that enables people with disabilities in Chicago to live fully-engaged and self-directed lives.
      %a{:href => "http://www.accessliving.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://aidansarmy.org/", :target => "_blank"}
      %img.alignleft{:alt => "Aidan's Army Chicago Charities", :height => "73", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/aidans_army.png", :title => "Aidan's Army", :width => "73"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Aidan's Army
    %p
      The Aidan Manning Memorial Foundation is a not-for-profit organization that is dedicated to providing hope for children with brain tumors.
      %a{:href => "http://aidansarmy.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.aliverescue.org/", :target => "_blank"}
      %img.alignleft{:alt => "Alive Rescue Chicago Charities", :height => "42", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/alive_rescue.png", :title => "Alive Rescue", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Alive Rescue
    %p
      ALIVE Rescue is a Sustainable Animal Rescue that protects the lives and the rights of animals. We believe every animal has the right to a well-balanced, socialized and fulfilled life.
      %a{:href => "http://www.aliverescue.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.americascores.org/#/chicago/", :target => "_blank"}
      %img.alignleft{:alt => "America Scores Chicago Charities", :height => "57", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/america_scores.png", :title => "America Scores", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 America SCORES Chicago
    %p
      America SCORES Chicago strives to empower students in urban communities using soccer, writing, creative expression, and service-learning.
      %a{:href => "http://www.americascores.org/#/chicago/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://determination.acsevents.org/site/PageServer?pagename=DN_FY11_home"}
      %img.alignleft.size-full.wp-image-249{:alt => "Determination Chicago Charities", :height => "48", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/american_cancer_society.png", :title => "Determination", :width => "75"}/
  %div{:style => "margin-left: 160px;"}
    %h4 American Cancer Society – DetermiNation
    %p
      The American Cancer Society DetermiNation program will help you do the unthinkable, achieve what seems impossible, and change the course of cancer forever.
      %a{:href => "http://determination.acsevents.org/site/PageServer?pagename=DN_FY11_home", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://communities.autismspeaks.org/site/c.ihLPK1PDLoF/b.6470577/k.1665/Autism_Speaks_to_Young_Professionals_AS2YP.htm", :target => "_blank"}
      %img.alignleft{:alt => "Autism Speaks", :height => "92", :src => "https://www.livetosupport.com/wp-content/uploads/2012/04/Autism-Speaks.jpg", :title => "Autism Speaks", :width => "90"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Autism Speaks Chicago – AS2YP
    %p
      Members of the Chicagoland chapter of Autism Speaks to Young Professionals (AS2YP) volunteer their time and talents to increase awareness, raise funds, serve as ambassadors of Autism Speaks, and participate as active members of the autism community.
      %a{:href => "http://bit.ly/AS2YPChicago", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.bearnecessities.org/HomePage.aspx", :target => "_blank"}
      %img.alignleft{:alt => "Bear Necessities", :height => "90", :src => "https://www.livetosupport.com/wp-content/uploads/2012/06/Bear-Logo.jpg", :title => "Bear Necessities Pediatric Cancer Foundation", :width => "80"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Bear Necessities Pediatric Cancer Foundation
    %p
      Bear Necessities Pediatric Cancer Foundation is a national organization dedicated to eliminating pediatric cancer and to providing hope and support to those who are touched by it.  Our mission is carried out through three unique programs which include the Bear Hugs Program, Bear Discoveries and Bear Empowerment.
      %a{:href => "http://www.bearnecessities.org/HomePage.aspx", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.bbbschgo.org/site/c.bkLUKcOVLkK2E/b.6384659/k.E595/Big_Brothers_Big_Sisters_of_Metropolitan_Chicago.htm/", :target => "_blank"}
      %img.alignleft{:alt => "Big Brothers Big Sisters Chicago Charities", :height => "38", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/bigbrotherbigsister.png", :title => "Big Brothers Big Sisters of Metropolitan Chicago", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Big Brothers Big Sisters of Metropolitan Chicago
    %p
      As the nation's largest donor and volunteer supported mentoring network, Big Brothers Big Sisters makes meaningful, monitored matches between adult volunteers ("Bigs") and children ("Littles"), ages 6 through 18, in communities across the country.
      %a{:href => "http://www.bbbschgo.org/site/c.bkLUKcOVLkK2E/b.6384659/k.E595/Big_Brothers_Big_Sisters_of_Metropolitan_Chicago.htm/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.bindonated.org"}
      %img.alignleft{:alt => "Bin Donated Chicago Charities", :height => "73", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/bin_donated.png", :title => "bindonated", :width => "50"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Bin Donated
    %p
      Bin Donated is a residential and commercial donation pick-up service located in Chicago that collects and provides donated items to existing charities.
      %a{:href => "http://www.bindonated.org", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.bookwallah.org/index.html"}
      %img.alignleft{:alt => "Bookwallah Chicago Charities", :height => "35", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/bookwallah.png", :title => "Bookwallah", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Bookwallah
    %p
      The Bookwallah Organization is a 501(c)(3) non-profit whose sole mission is to collect and distribute children's storybooks, set up libraries, and spread the joy of reading to children of orphanages and children's homes throughout the world.
      %a{:href => "http://www.bookwallah.org/index.html", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://charity4life.org/", :target => "_blank"}
      %img.alignleft{:alt => "Charity 4 Life Chicago Charities", :height => "77", :src => "https://www.livetosupport.com/wp-content/uploads/2011/12/charity4life.jpg", :title => "Charity 4 Life", :width => "73"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Charity 4 Life
    %p
      Charity4LIFE's mission is to support and protect "street kids" and empower them to reach their full potential by directly funding grassroots NGO programs in third world countries. We encourage humanitarian efforts and provide social advocacy through weekend warrior activism.
      %a{:href => "http://charity4life.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.chicago-fire.com/content/chicago-fire-foundation/", :target => "_blank"}
      %img.alignleft{:alt => "Chicago Fire Foundation Chicago Charities", :height => "28", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/chicago_fire_foundation.png", :title => "Chicago Fire Foundation", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Chicago Fire Foundation – Chicago Fire (MLS)
    %p
      The Chicago Fire's goal on the field is to play hard and win. Its goal off the field is to contribute to the quality of life in Chicago and its surrounding communities.
      %a{:href => "http://www.chicago-fire.com/content/chicago-fire-foundation/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.chicagorun.org/", :target => "_blank"}
      %img.alignleft{:alt => "Chicago Run Chicago Charities", :height => "69", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/chicago_run.png", :title => "Chicago Run", :width => "50"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Chicago Run
    %p
      Chicago Run is a non-profit organization whose mission is to promote the health and wellness of Chicago children through innovative, engaging, and sustainable youth running programs.
      %a{:href => "http://www.chicagorun.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://caase.org/", :target => "_blank"}
      %img.alignleft{:alt => "Chicago Run Chicago Charities", :height => "100", :src => "https://www.livetosupport.com/wp-content/uploads/2013/01/CAASE_logo_300.jpg", :title => "Chicago Run", :width => "65"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Chicago Alliance Against Sexual Exploitation
    %p
      CAASE addresses the culture, institutions, and individuals that perpetrate, profit from, or support sexual exploitation. Their work includes prevention, policy reform, community engagement, and legal services.
      %a{:href => "http://caase.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.curesearch.org/", :target => "_blank"}
      %img.alignleft.wp-image-249{:alt => "CureSearch Chicago Charities", :height => "39", :src => "https://www.livetosupport.com/wp-content/uploads/2012/01/cure_search.jpg", :title => "CureSearch", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 CureSearch for Children's Cancer
    %p
      CureSearch for Children's Cancer is a national non-profit foundation whose mission is to fund and support children's cancer research and provide information and resources to all those affected by children's cancer.
      %a{:href => "http://www.curesearch.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://dreamsforkids.org/", :target => "_blank"}
      %img.alignleft{:alt => "Dreams for Kids Chicago Charities", :src => "https://www.livetosupport.com/wp-content/uploads/2011/04/dreams_for_kids.jpeg", :title => "Dreams For Kids", :width => "75"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Dreams For Kids
    %p
      Founded in 1989, Dreams For Kids is a volunteer based, registered non-profit 501(c)(3) children's charity that breaks down social barriers and end the isolation of at-risk youth.
      %a{:href => "http://dreamsforkids.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.flashesofhope.org/"}
      %img.alignleft.size-full.wp-image-249{:alt => "Flashes of Hope Chicago Charities", :height => "42", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/flashes_of_hope.png", :title => "Flashes of Hope", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Flashes of Hope
    %p
      Flashes of Hope is a nonprofit organization that changes the way children with cancer and other life threatening illnesses see themselves through the gift of photography and raises money for pediatric cancer research.
      %a{:href => "http://www.flashesofhope.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.imermanangels.org"}
      %img.alignleft.size-full.wp-image-249{:alt => "Imerman Angels Chicago Charities", :height => "34", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/immerman_angels.png", :title => "immerman angels", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Imerman Angels
    %p
      Imerman Angels carefully matches and individually pairs a person touched by cancer (a cancer fighter or survivor) with someone who has fought and survived the same type of cancer (a Mentor Angel).
      %a{:href => "http://www.imermanangels.org", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.imdguesthouse.org", :target => "_blank"}
      %img.alignleft{:alt => "IMD Guest House", :height => "42", :src => "https://www.livetosupport.com/wp-content/uploads/2013/01/IMD-Guest-House-Foundation_326x173.jpg", :title => "IMD Guest House", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 IMD Guest House
    %p
      IMD Guest House provides affordable accommodations to serve as a "home-away-from home" for patients and their family and friends while receiving medical care in the Illinois Medical District (IMD).
      %a{:href => "http://www.imdguesthouse.org", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://jimmyinsulin.com/", :target => "_blank"}
      %img.alignleft.size-full.wp-image-249{:alt => "Jimmy Insulin Chicago Charities", :height => "45", :src => "https://www.livetosupport.com/wp-content/uploads/2012/01/jimmy_insulin.png", :title => "Jimmy Insulin", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Jimmy Insulin
    %p
      Based in Chicago, Jimmy Insulin is a completely free service that initiates invaluable connections between diabetes support-seekers and diabetes guides. One-on-one relationships offer a diabetes beginner the opportunity to ask personal questions and receive support from someone who is closely familiar with their experience.
      %a{:href => "http://jimmyinsulin.com/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.leukemia-research.org/page.aspx?pid=183", :target => "_blank"}
      %img.alignleft.size-full.wp-image-249{:alt => "Leukemia Research Chicago Charities", :height => "76", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/luekemia.png", :title => "Leukemia Foundation", :width => "78"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Leukemia Research Foundation
    %p
      The Leukemia Research Foundation (LRF) was established to conquer leukemia, lymphoma, and myelodysplastic syndromes while enriching the quality of life of those touched by these diseases.
      %a{:href => "http://www.leukemia-research.org/page.aspx?pid=183", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.wishes.org/", :target => "_blank"}
      %img.alignleft.wp-image-249{:alt => "Make A Wish Chicago Charities", :height => "41", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/makeawish.png", :title => "Make A Wish", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Make-A-Wish Foundation of Illinois
    %p
      Make-A-Wish Illinois grants the wishes of children with life-threatening medical conditions to enrich their lives with hope, strength and joy. Since 1985, Make-A-Wish Illinois has granted more than 10,000 wishes to children statewide.
      %a{:href => "http://www.wishes.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.marillachouse.org/", :target => "_blank"} <img class="alignleft  wp-image-249" title="St. Vincent" src="https://www.livetosupport.com/wp-content/uploads/2013/01/St.-Vincent.jpg" alt="" "marillac="" social="" services"="" height="90" width="80">
  %div{:style => "margin-left: 160px;"}
    %h4 Marillac St. Vincent Family Services
    %p
      As stewards of the Vincentian spirit, Marillac Social Center is committed to strengthening and empowering those most in need to reach their greatest potential.  They fulfill our mission through quality programs for children, teens, families, and seniors.
      %a{:href => "http://www.marillachouse.org/", :target => "_blank"} Learn More!
  %p &nbsp;
  %p
    %a{:href => "http://www.onetail.org/", :target => "_blank"}
      %img.alignleft.size-full.wp-image-249{:alt => "One Tail at a Time Chicago Charities", :height => "40", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/onetailatatime.png", :title => "One Tail at a Time", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 One Tail at a Time
    %p
      One Tail at a Time is an all breed no-kill dog rescue that services the Chicagoland area. They focus on intaking dogs in danger of euthanasia from area shelters that are overpopulated and in need of help.
      %a{:href => "http://www.onetail.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.positivecoach.org/", :target => "_blank"}
      %img.alignleft.size-full.wp-image-249{:alt => "Positive Coaching Alliance Chicago Charities", :height => "70", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/positive_coaching_alliance.png", :title => "Positive Coaching Alliance", :width => "78"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Positive Coaching Alliance
    %p
      Positive Coaching Alliance (PCA) is transforming youth sports so sports can transform youth. Through partnership with more than 1,100 youth sports organizations, leagues, schools and cities nationwide, PCA has conducted 6,000-plus workshops for youth sports coaches, parents, organizational leaders and athletes.
      %a{:href => "http://www.positivecoach.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.rssichicago.org/index.html", :target => "_blank"}
      %img.alignleft{:alt => "Renaissance Social Services, Inc.", :height => "42", :src => "https://www.livetosupport.com/wp-content/uploads/2013/01/RSSI-Small-Logo.jpg", :title => "", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Renaissance Social Services, Inc.
    %p
      Renaissance Social Services (RSSI) is ending homelessness in Chicago through prevention, housing and supportive services.
      %a{:href => "http://www.rssichicago.org/index.html", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.starlight-midwest.org/", :target => "_blank"}
      %img.alignleft.size-full.wp-image-249{:alt => "Starlight Children's Foundation", :height => "73", :src => "https://www.livetosupport.com/wp-content/uploads/2012/04/Starlight-Logo.png", :title => "Starlight Children's Foundation - Midwest", :width => "110"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Starlight Children's Foundation – Midwest
    %p
      Starlight brings together experts from pediatric health care, technology and entertainment to create programs that help brighten the lives of seriously ill children and their families.
      %a{:href => "http://www.starlight-midwest.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.urbaninitiatives.org"}
      %img.alignleft.size-full.wp-image-249{:alt => "Urban Initiatives Chicago Charities", :height => "33", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/urban_initiatives.png", :title => "urban initiatives", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 Urban Initiatives
    %p
      Urban Initiatives is a nonprofit organization that runs a health and education soccer program, called the Work to Play Program, in the Chicago Public Schools (CPS).
      %a{:href => "http://www.urbaninitiatives.org", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.witschicago.org/", :target => "_blank"}
      %img.alignleft{:alt => "WITS Chicago Charities", :height => "42", :src => "https://www.livetosupport.com/wp-content/uploads/2011/04/wits.png", :title => "WITs Chicago", :width => "128"}/
  %div{:style => "margin-left: 160px;"}
    %h4 WITS Chicago
    %p
      WITS Chicago promotes literacy and the love of reading among Chicago's youth by providing one-on-one tutoring and mentoring. Proudly serving Chicago Public Schools for more than twenty years.
      %a{:href => "http://www.witschicago.org/", :target => "_blank"} Learn More!
  %p
    %a{:href => "http://www.worldsportchicago.org/"}
      %img.alignleft.size-full.wp-image-249{:alt => "World Sport Chicago Charities", :height => "75", :src => "https://www.livetosupport.com/wp-content/uploads/2011/05/world_sport_chicago.png", :title => "World Sports Chicago", :width => "58"}/
  %div{:style => "margin-left: 160px;"}
    %h4 World Sport Chicago
    %p
      World Sport Chicago promotes Olympic and Paralympic sports to the youth of Chicago as a means of personal and community development.
      %a{:href => "http://www.worldsportchicago.org/"} Learn More!
  = link_to 'Back to the top', '#tabs'
