#latest-news.roundbox.tabblock.hidden
  %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FLTSChicago&amp;width=640&amp;height=700&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=false&amp;appId=264571900237003", :style => "border:none; overflow:hidden; width:640px; height:700px;"}
    %br{:style => "clear:both;"}/

  = link_to 'Back to the top', '#tabs'
