<div id="latest-news" class="roundbox tabblock hidden">
  <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FLTSChicago&amp;width=640&amp;height=700&amp;show_faces=false&amp;colorscheme=light&amp;stream=true&amp;show_border=true&amp;header=false&amp;appId=255484937866032" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:640px; height:700px;" allowTransparency="true"></iframe>
  <br style="clear:both;"/>

  <%= link_to 'Back to the top', '#tabs' %>
</div>
