#leaderboard.roundbox.tabblock
  = select_tag "sport", options_for_select(Team.sports.collect { |t| ["#{t} only", t] }), prompt: 'Show All Sports'
  %br/
  %br/
  = render 'campaigns/lts/leaderboard_table'
  = link_to 'Back to the top', '#tabs'
