#social.roundbox
  %span.socialtitle Share
  %span.st_facebook_large{:displaytext => "Facebook"}
  %span.st_twitter_large{:displaytext => "Tweet"}
  %span.st_pinterest_large{:displaytext => "Pinterest"}
  %span.st_linkedin_large{:displaytext => "LinkedIn"}
  %span.st_sharethis_large{:displaytext => "ShareThis"}
  %div{:style => "height:1px; width:1px; padding:0; margin:0; overflow:hidden;"}
    = image_tag 'lts/pinterest.jpg', alt: 'Pinterest', height: 600, width: 350
