// Place all the styles related to the pledges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field_with_errors {
  padding: 2px;
  color: red;
  border-color: red;
  display: table;
  a {
    color: red;
  }
}


#display5 {
  width: 50%;
}

#topblock {
  height:365px !important;
}

.middleblock, #status {
  height:340px !important;
}

#video {
  height:300px !important;
  width:600px !important;
  padding:30px 40px 10px 40px !important;
}
