.slider-panel {
	box-sizing: content-box;
	color: #333;
	padding:3px;
	display: block;
	line-height: 0;
	height: 12px;
	font-size: 0;
	text-align: left;
	float: none;
	border:0;
	position: relative;
	top: 0;
	overflow: hidden;
	opacity: 1;
	cursor: default;
}
.slider-panel:hover {
	background-color: #eee;
}
.slider-panel:focus {
	background-color: #fff;
}
.orientation-horizontal {
	width: 120px;
	padding:0;
}
/* The Slider Slit */
.slider-slit {
	background-color: #1a9f4a;
  background-image: none;
	position: relative;
	line-height: 0;
	border: 1px solid;
	border-color: #7d7d7d #7d7d7d #dbdbdb #dbdbdb;
	font-size: 0;
	cursor: default;
  height: 2px;
	margin: 4px 15px 2px 2px;
  width: 50%;
  float: left;
  &[disabled] {
    background-color: #999;
  }
}

/* The Slider Knob */
#slider-knob {
	background-color: #1a9f4a;
  background-image: none;
	position: relative;
	z-index: 2;
	line-height: 0;
	font-size: 0;
	width: 12px;
	margin: 0;
	height: 12px;
	cursor: e-resize;
  border: 0;
  top: -5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
  &:hover {
    background-color: #127837;
  }
  &[disabled] {
    cursor: default;
  }
}

/* The Input Field */
.slider-target {
  position: relative;
  top: -0.5em;
}
