%p
  %strong About this campaign
%p I’m Shea Vaughn, founder of Healthy Initiative.
%p
  Your contribution really makes a difference through our Kiindly Dollar match -
  when you give a dollar, everyone’s donation increases by one more dollar -
  and each person can set their own cap.
%p
  Your charitable contribution to the Give A Little Does A Lot Foundation will go
  towards Healthy Initiative Chicago to help provide education, fitness, and
  nutritional programs for the children and schools of Chicago.
%p
  Obesity is killing Americans; related healthcare costs are skyrocketing and 
  most tragically for the first time in history, parents will be burying their children.
  Childhood obesity has more than tripled in the last 30 years. Nearly 300,000 children
  in Chicago are either obese or overweight, significantly increasing their risk for
  heart disease, type 2 diabetes, stroke, and several types of cancer.
%p
  This is a life and death cause. Join me and be a champion for healthy living. Please give today and thank you!
