#corporate_diy.roundbox
  %h3 Did you know...
  %p Obese individuals pay annually at least $1700 more for healthcare and as high as 80% more for prescription drug costs than a normal weight person
  %p The average American is now 23 lbs. overweight
  %p 69% adults and 33% of children are overweight or obese
  %p 40 Billion dollars a year are spent on diets and obesity rates are constantly rising
  %p Healthcare costs for everyone are skyrocketing with obesity contributing to increases in type 2 diabetes, heart disease and even certain cancers
