#social.roundbox
  %span.socialtitle Share
  %span.st_facebook_large{:displaytext => "Facebook"}
  %span.st_twitter_large{:displaytext => "Tweet"}
  %span.st_pinterest_large{displaytext: "Pinterest", st_url: image_path('chi/pinterest.jpg')}
  %span.st_linkedin_large{:displaytext => "LinkedIn"}
  %span.st_sharethis_large{:displaytext => "ShareThis"}
