%h6 Select a team/charity  to support
#charitypicker.roundbox
  = select_tag "sport", options_for_select(Team.sports, params[:sport]), prompt: 'Show All Sports'
  = p.select :team_id, options_for_select(Team.teams_and_charities, @team_id) #, prompt: 'Choose A Team/Charity'
  %br/
