/ ** Calculate **
#pledgeset-l
  %h6 Set Your Match
  .roundbox.pledgeshort
    %p.ltgray.buck
      = p.text_field :amount, maxlength: 5, class: 'positive-decimal', data: { goal: @campaign.donor_target }
  %p
    This will be your
    %br/
    contribution per donor.
#pledgeset-r
  %h6.ltgray2 Your Max. Donation
  .roundbox.pledgeshort.ltgray2bg.mpd
    %p.ltgray.buck
      %span#mpdresult.mpdresult{:name => "mpd"}>
      \&nbsp;
  %p.ltgray2
    Your maximum donation when
    %br/
    we reach #{@campaign.donor_target} donors.
