%h3 STRETCH GOAL = #{@campaign.stretch_goal} donors (125% of our goal)
.optincheck
  = p.check_box :donate_bonus, class: 'rad'
.optintext
  %label{:for => "pledge_bonus125_cap"}
    %strong
      I'd like to pledge an additional
      %span.green &lt;$5.00&gt;
    should the campaign reach the stretch goal.
