<div id="footer">
  <div id="footercontainer">


    <div class="footer-company">
      <div class="footerlinks-l">
        Company<br />
        <a href="http://www.kiindly.com" target="_blank">Kiindly.com</a><br />
        <a href="http://www.kiindly.com/how-it-works.php">How it works</a><br />
        <a href="http://www.kiindly.com/about.php">About kiindly.com</a>
      </div>
    </div>

    <div class="footer-legal">
      <div class="footerlinks-l">
        Legal<br />
        <%= link_to "Privacy statement", popup_path("Content" => "Privacy"), class: "popup_link" %><br/>
        <%= link_to "Terms of use", popup_path("Content" => "Terms"), class: "popup_link" %><br/>
      </div>
    </div>

    <div class="footer-help">
      <div class="footerlinks-l">
        Need Help?<br />
        <%= link_to "FAQ", popup_path("Content" => "FAQ"), class: "popup_link" %><br/>
        <a href="http://www.kiindly.com/pricing.php">Pricing</a><br />
        <a href="http://www.kiindly.com/contact.php">Contact Kiindly</a>
      </div>
    </div>

    <div class="footer-kiindly">
      <div class="footerlinks-l">
        You and kiindly.com<br />
        <a href="http://www.kiindly.com/start-a-campaign.php" class="sac">Start a campaign</a>
      </div>
    </div>

  </div>
</div>

