<div id="footer">
  <div id="footercontainer">


    <div class="footer-company">
      <div class="footerlinks-l">
        Company<br />
        <a href="http://www.kiindly.com" target="_blank">Home</a><br />
        <a href="how-it-works.php">How it works</a><br />
        <a href="about.php">About kiindly.com</a>
      </div>
    </div>

    <div class="footer-legal">
      <div class="footerlinks-l">
        Legal<br />
        <a href="popup.php?Content=Privacy" onclick="return popitup('popup.php?Content=Privacy')">Privacy statement</a><br />
        <a href="popup.php?Content=Terms" onclick="return popitup('popup.php?Content=Terms')">Terms of use</a>
      </div>
    </div>

    <div class="footer-help">
      <div class="footerlinks-l">
        Need Help?<br />
        <a href="popup.php?Content=FAQ" onclick="return popitup('popup.php?Content=FAQ')">FAQ</a><br />
        <a href="pricing.php">Pricing</a><br />
        <a href="contact.php">Contact Kiindly</a>
      </div>
    </div>

    <div class="footer-kiindly">
      <div class="footerlinks-l">
        You and kiindly.com<br />
        <a href="start-a-campaign.php" class="sac">Start a campaign</a>
      </div>
    </div>

  </div>
</div>

